


<ul class="nav flex-column bg-primary  bg-opacity-50 ">
  <li class="nav-item">
    <a class="nav-link active text-white" aria-current="page" href="{{path('app_account')}}">Mes Commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Mes adresses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{{path ('app_account_modify_pwd')}}">  Modifier mot de passe</a>
  </li>

   <li class="nav-item">
    <a class="nav-link text-white" href="{{path('app_logout')}}"> Deconnexion</a>
  </li>


</ul>